@font-face{
  font-family: 'Bebas';
  src: url( ../fonts/bebas.ttf);
}

body{
  background: #030819;
  color: white;
  margin: 0 auto;
  padding: 0;
  font-family: Bebas, sans-serif;
}

hr{
  background: white;
}

.title-section{
  text-align: center;
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 100px;
}

.color-blue{
  color: #29a9e1;
}


#MENU{
  overflow: hidden;
  background:  rgba(3, 8, 25, 0.9); 
}

.menu{
  color: white;
}



.nav-link{
  color: white;
  font-size: 1.6em;
}

li.active{
  color:  #29a9e1;
}

.nav-link:hover{
  color: #29a9e1;
}

.background1{
  background-image: url("../assets/PNG/Curva1.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 115vh;
}

.background2{
  background-image: url("../assets/PNG/Division.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: auto;
  height: 20vh;
}

.background3{
  background-image: url("../assets/PNG/Curva3.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: auto;
  height: 40vh;
}

.background4{
  background-image: url("../assets/PNG/Curva4.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: auto;
  height: 60vh;
}


#op{
  opacity: 1;
}


/*HEADER*/

.intro-header{
  margin-top: 150px;
}

.intro{
  font-size: 4em;
  color: #29a9e1;
}

.intro-text{
  margin-top: 20px;
  font-size: 1.4em;
}

.img-web{
  margin: 10px auto;
  display: block;
}

.intro-btn-1{
  width: 130px;
  height: auto;
  border-radius: 40px;
  color:  #030819;
  background:  #29a9e1;
}

.intro-btn-1:hover{
  color: #29a9e1;
  transform: scale(1.2); 
  background: #030819;
}


/*CONOCENOS*/


.contacto{
  margin-top: 140px;
  font-size: 1.5em;
}


/*COMO FUNCIONA*/

.como-funciona{
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
}

.video-ref{
  margin-top: 60px;
  margin-bottom: 70px;
}



/*SERVICIOS*/

.wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: #29a9e1;
}

.diseño, .stages, .fotos, .video, .licor{
  grid-row: 1;
  text-align: center;
  justify-content: center;
}

.catering, .postres, .mobiliario, .cotillon, .seguridad{
  grid-row: 2;
  text-align: center;
  justify-content: center;
}



/*SERVICIOS*/


.ser{
  margin-top: 10px;
}




.owl-prev {
    width: 15px;
    height: auto;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: auto;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid white;
     outline-style: unset;
     -webkit-appearance: none;
}
.owl-prev i, .owl-next i {
  transform : scale(2);
  outline: unset;
  -webkit-appearance: none;
}

i:focus {
  outline: none;
  outline-offset: 4px;
  background: #ffa;
}


/*Gallery*/

.gallery{
  margin-bottom: 120px;
}

/*BLOG*/

.blog{
  display: grid;

}
 .post{
  text-align: center;
  justify-content: center;
 }


.blog-title{
  margin-top: 60px;
}



 /*BLOG*/






 /*CONTACTO*/

 label{
  margin-top: 15px;
 }

.form-control{
  background:#030819;
  border: 2px solid  #29a9e1;
  border-radius: 0; 
}
 .enviar{
  width: 140px;
  height: auto;
  border-radius: 40px;
  color: #030819; 
 }

 .enviar:hover{
  background: #030819;
  color: #29a9e1; 
  transform: scale(1.1);
 }













a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #29a9e1;
}
.cont{
  margin-top: 0px;
}



li.menu-footer{
  list-style: none;
  margin-left: -40px;
  text-decoration: none;
}









/*More Info*/

.more-info{
  margin-top: 20px;
  margin-bottom: 20px;
}


.solicitud{
  font-size: 2em;
  text-align: center;
  padding-left: 40px;
}

.boton-more{
  background-color:#29a9e1;
  border-radius: 45px;
  width: 200px;
  height: auto;
  font-size: 1.3em;
  color: #030819; 
}

.boton-more:hover{
  color: #29a9e1;
  background:#030819;
  transform: scale(1.2); 
  border-color: #29a9e1;

}
.fa-instagram:hover{
  color: #29a9e1;
  transform: scale(1.2);
}

.fa-facebook:hover{
  color: #29a9e1;
  transform: scale(1.2);
}

.fa-twitter:hover{
  color: #29a9e1;
  transform: scale(1.2);
}






@media screen and  (max-width: 768px){
  
  .img-intro{
    display: none;
  }
  .boton-intro{
    display: block;
  }



}



















