@font-face{
  font-family: 'Bebas';
  src: url( ../fonts/bebas.ttf);
}

body{
  background: #030819;
  color: white;
  margin: 0 auto;
  padding: 0;
  font-family: Bebas, sans-serif;
}

hr{
  background: white;
}

.container{
  padding-right: 0;
  padding-left: 0; 
}


.title-section{
  text-align: center;
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 100px;
}

.color-blue{
  color: #29a9e1;
}

.img-inicio{
  width: 800px;
  height: auto;
}

.navbar{
  height: 60px;
}

.portada {

  color: white;
  padding: 20px;
  height: 500px;
}

.contenedor {
  max-width: auto;
  margin: auto;
  position: relative;
  padding-left:  8%;
}

.logotipo {
  display: inline-block;
  margin-left: 0;
}

.menu {
  font-size: 1.4em;
  display: inline-block;
  position: absolute;
  right: 0px;
  margin-right: 50px; 
  top: 5px;
}


.navbar-dark{
  color: white;
  opacity: 1;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.menu li:before{
  font-size: 50px;
  line-height: 20px;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
}

.navbar{
  transition: background-color 0.3s linear;
}


.nav-link{
  color: white;
  font-size: 1.6em;
  cursor: pointer;
}

li.active{
  color:  #29a9e1;
}

.nav-link:hover{
  color: #29a9e1;
}

.background1{
  position: relative;
  background: url("../assets/PNG/Curva1.png") no-repeat center;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 900px;
  padding-left: 0;
}

.background2{
  background-image: url("../assets/PNG/Division.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 20vh;
}

.background3{
  background-image: url("../assets/PNG/Curva3.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: auto;
  height: 40vh;
}

.background4{
  background-image: url("../assets/PNG/Curva4.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: auto;
  height: 60vh;
}


#op{
  opacity: 1;
}


/*HEADER*/

.intro-header{
  margin-top: 150px;
}

.intro{
  font-size: 5.3em;
  color: #29a9e1;
  margin-top: 20%;
}

.intro-1{
  font-size: 5.3em;
  color: #29a9e1;
}

.img-intro{
  margin-top: 5%;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
}

.intro-text{
  margin-top: 20px;
  font-size: 1.6em;
}

.img-web{
  margin: 10px auto;
  display: block;
}

.intro-btn-1{
 width: 170px;
  height: auto;
  border-radius: 40px;
  background:  #29a9e1;
  color: #030819;
}

.intro-btn-1:hover{
  transform: scale(1.2);
}




.intro-btn-2{
  width: 170px;
  height: auto;
  border-radius: 40px;
  background:  rgba(41, 169, 224, 0.3);
  margin-left: 50%;
  color: white;
  border: 2px solid #29a9e1;
}

.intro-btn-2:hover{
  transform: scale(1.2); 

}

.rrss{
  margin-top: 5%;

}

.rrss-hr{

  margin-top: 15%;
}



/*CONOCENOS*/


.contacto{
  margin-top: 140px;
  font-size: 1.5em;
}


/*COMO FUNCIONA*/

.como-funciona{
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
}

.video-ref{
  margin-top: 60px;
  margin-bottom: 70px;
}

.video{
  font-size: 1.9em;
}


.fa-play-circle{
  color: #29a9e1;
}


/*SERVICIOS*/

.wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: #29a9e1;
}

.diseño, .stages, .fotos, .video, .licor{
  grid-row: 1;
  text-align: center;
  justify-content: center;
}

.catering, .postres, .mobiliario, .cotillon, .seguridad{
  grid-row: 2;
  text-align: center;
  justify-content: center;
}



/*SERVICIOS*/


.ser{
  margin-top: 10px;
}




.owl-prev {
    width: 15px;
    height: auto;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: auto;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid white;
     outline-style: unset;
     -webkit-appearance: none;
}
.owl-prev i, .owl-next i {
  transform : scale(2);
  outline: unset;
  -webkit-appearance: none;
}

i:focus {
  outline: none;
  outline-offset: 4px;
  background: #ffa;
}


/*Gallery*/

.gallery{
  margin-bottom: 120px;
}

/*BLOG*/

.blog{
  display: grid;

}
 .post{
  text-align: center;
  justify-content: center;
 }


.blog-title{
  margin-top: 60px;
}



 /*BLOG*/

.modal-content{
  border-color: none;
    background-color:  #030819;

}

.modal-header{
  background-color:  #030819;
  border-color: #030819;
}

.close{
  color: white;
  text-shadow: none;
}

.close:hover{
  color: red;
  text-shadow: red;
}

 /*CONTACTO*/

 label{
  margin-top: 15px;
 }

.form-control{
  background:#030819;
  border: 2px solid  #29a9e1;
  border-radius: 0; 
}
 .enviar{
  width: 140px;
  height: auto;
  border-radius: 40px;
  color: #030819; 
 }

 .enviar:hover{
  background: #030819;
  color: #29a9e1; 
  transform: scale(1.1);
 }













a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #29a9e1;
}
.cont{
  margin-top: 0px;
}



li.menu-footer{
  list-style: none;
  margin-left: -40px;
  text-decoration: none;
}


.owl-item {
  color: #29a9e1;
}






/*More Info*/

.more-info{
  margin-top: 20px;
  margin-bottom: 20px;
}


.solicitud{
  font-size: 2em;
  text-align: center;
  padding-left: 40px;
}

.boton-more{
  background-color:#29a9e1;
  border-radius: 45px;
  width: 200px;
  height: auto;
  font-size: 1.3em;
  color: #030819; 
}

.boton-more:hover{
  color: #29a9e1;
  background:#030819;
  transform: scale(1.2); 
  border-color: #29a9e1;

}


.follow-p{
  display: inline-block; 
  justify-content: center;
  font-size: 2em;
}

.follow-icon{
  width: 40px; 
  justify-content: 
  center;text-align: center;
}

.fa-instagram:hover{
  color: #29a9e1;
  transform: scale(1.2);
}

.fa-facebook:hover{
  color: #29a9e1;
  transform: scale(1.2);
}

.fa-twitter:hover{
  color: #29a9e1;
  transform: scale(1.2);
}


.custom-toggler.navbar-toggler {
    border-color: rgb(41,169,225);
}

.default-menu{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255 ,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.active-menu{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0 ,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

input.form-control:focus{
  background-color: rgba(41, 169, 224, 0.9);
  border-color: transparent;
  color: white;
}

textarea.form-control:focus{
  background-color: rgba(41, 169, 224, 0.9);
  border-color: transparent;
  color: white;
}

 .navbar .navbar-collapse{
  background-color: transparent;

 }


@media screen and  (max-width: 768px){
  
  .img-intro{
    display: none;
  }
 
 .background1{
  background-image: none;
 }

  .video-ref{
    display: none;
  }

  .background2{

 }

 .title-rd{
  font-size: 1em;
 }
 
.dd{
  margin-top:-3px;
}

.img-contact{
  display: none;
}

.boton-more{
  justify-content: center;
  text-align: center;
}

.rd-1{
  display: none;
}

.rd1{
  text-align: center;
  justify-content: center;
}

.follow-p{
  display: none;
}

.follow-icon{
  justify-content: center;
  text-align: center;
}

.background4{
      background-image: url(../assets/PNG/Division.png);
      margin-bottom: 0;
}

.cont{
  margin-top: -80px;
}

.title-Como{ 
 margin-top: 150px;
  margin-bottom: 100px;
}

.contacto{
  margin-top: 0;
}

.more{
  display: none;
}

.owl-item {
  color: #29a9e1;
}


.intro{
  font-size: 4em;
  color: #29a9e1;
  margin-top: 30%;
  text-align: center;
}

.intro-1{
  font-size: 4em;
  color: #29a9e1;
  text-align: center;
}


.intro-btn-1{
 width: 60%;
 justify-content: center;
 text-align: center;



}

.intro-btn-2{
  margin-top: 5%;
  width: 60%;
  margin-left: 0;
}


 .navbar .navbar-collapse{
  background-color: #030819;

 }

}



