@font-face{
font-family: "BebasKai";
src: url("fonts/BebasKai.ttf");
}


body{
  background: #030819;
  color: white;
  margin: 0 auto;
  padding: 0;
  font-family: ;

}

hr{
  background: white;
}

.title-section{
  text-align: center;
  font-size: 3em;
}

.color-blue{
  color: #29a9e1;
}


.menu{
  background: #030819;
  color: white;
}

.nav-link{
  color: white;
}



.intro-header{
  margin-top: 150px;
}

.intro{
  font-size: 4em;
  color: #29a9e1;
}

.intro-text{
  margin-top: 20px;
  font-size: 1.2em;
}

.img-web{
  margin: 10px auto;
  display: block;
}


.contacto{
  margin-top: 100px;
  font-size: 1.4em;
}


/*SERVICIOS*/

.wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: #29a9e1;
}

.diseño, .stages, .fotos, .video, .licor{
  grid-row: 1;
  text-align: center;
  justify-content: center;
}

.catering, .postres, .mobiliario, .cotillon, .seguridad{
  grid-row: 2;
  text-align: center;
  justify-content: center;
}



/*SERVICIOS*/

/*BLOG*/

.blog{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto)
}
 .post{
  text-align: center;
  justify-content: center;
 }




 /*BLOG*/

 /*CONTACTO*/

 label{
  margin-top: 15px;
 }

.form-control{
  background:#030819;
  border: 2px solid  #29a9e1;
  border-radius: 0; 
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: white;
}




li.menu-footer{
  list-style: none;
  margin-left: -40px;
  text-decoration: none;
}






























@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
  }

  #myCarousel .carousel-inner .carousel-item {
    margin-right: 0%;
  }

  #myCarousel1 .carousel-inner .carousel-item {
    margin-right: 0%;
  }
}
@media (max-width: 180px) and (max-width: 767px) {
  #myCarousel .carousel-inner div.carousel-item {
    margin-right: 100%;
  }

  #myCarousel1 .carousel-inner div.carousel-item {
    margin-right: 100%;
  }
}
